body {
    align-items: center;
    margin: 0;
  font-family: 'Lato', sans-serif;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;   
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
    animation: headerAnimation 3s;
}

.bxxx {
    padding-top: 3vh;
}

.nav_center ul {
    display: flex;
    gap: 6vh;
    margin-top: 2vh;
    
}

.spn {
    color: lightgreen;
}



.nav_right {
    display: flex;
    background-color: lawngreen;
    width: 100px;
    border-radius: 20px;
    padding-left: 1vh;
    gap: 1vh;
    color: white;
    max-height: 8vh;
}

.spn1 {
    background-color: lawngreen;
    padding: 1vh;
    border-radius: 5px;
    margin-right: 0.5vh;
    color: white;
}



.nav_center ul li a:hover {
  cursor: pointer;
  color: lawngreen;
  transition: 0.7s ease;
}


.nav_right {
    cursor: pointer;
}


.video {
    display: flex;
    gap: 3vh;
}

.sec_1 {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    align-items: center;
    gap: 15vh;
}

.orderVid {
    display: flex;
    align-items: center;
    gap: 5vh;
}

.order_now {
    background-color: lawngreen;
    padding: 2vh;
    border-radius: 18px;
    color: white;
}

.girl {
    width: 500px;
}

.photo_area1 {
    display: flex;
}

.text_area1 {
    animation: sec_1_left 3s;
}

.photo_area1 {
    animation: sec_1_right 3s;
}

.com {
    margin-right: -25vh;
    margin-top: -30vh;
       pointer-events: none
}

.hh3 {
    color: red;
}

.sec_2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
}

.box {
    padding: 8vh;
    background-color: lawngreen;
    border-radius: 7px;
    color: white;
    box-shadow: 5px 5px 5px 15px lawngreen;
}

.salad_boxs {
    margin-top: 8vh;
}

.explore {
    cursor: pointer;
} 

.fav_cont {
    display: flex;
    gap: 18vh;
    align-items: center;
    margin-top: 10vh;
}

.bur {
    height: 12vh;
}

.head_text3 {
    text-align: center;
    margin-top: 20vh;
}

.salad_boxs {
    display: flex;
    justify-content: center;
    gap: 30vh;
    text-align: center;
    align-items: center;
}

.price {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-right: 5vh;
    align-items: center;
}

.prc {
    display: flex;
    align-items: center;
}

.s {
    margin-right: 1vh;
}

.dl {
    color: red;
    margin-right: 0.5vh;
}

.sec_4 {
    display: flex;
    justify-content: center;
    gap: 25vh;
    margin-top: 25vh;
    align-items: center;
}

.other_sec {
    display: flex;
    align-items: center;
}

.costumers_area {
    display: flex;
    align-items: center;
}

.cost {
    width: 50px;
} 

.stars_area {
    display: flex;
    align-items: center;
    margin-top: -4vh;
}

.costumer_text {
    margin-left: 5vh;
}

.cst_str {
    margin-right: 2vh;
}

.explore {
    background-color: lawngreen;
    color: white;
    width: 120px;
    text-align: center;
    padding: 1.5vh;
    border-radius: 15px;
    margin-top: 5vh;
}

.sec_5 {
    display: flex;
    justify-content: center;
    gap: 10vh;
    margin-top: 25vh;
    align-items: center;
    margin-left: 15vh;
}

.categories_area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 5vh;
    gap: 5vh;
    text-align: center;
    color:  lawngreen ;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    align-items: center;
    background-color: green;
    width: 100%;
    color: white;
}


.sociall {
    display: flex;
    gap: 2vh;
    margin-right: 20vh;
}

.social {
    width: 25px;
    max-height: 25px;
    background-color: rgb(207, 234, 207);
    padding: 0.5vh;
    border-radius: 15px;
    text-align: center;
    
}

.sc1 {
    background-color: rgb(8, 71, 8);
}


 .x3 {
    height: 24vh;
 }

 .x4 {
    height: 24.6vh;
 }

 .x2 {
    width: 130px;
 }


@media (min-width: 200px) and (max-width: 500px) {
 
     header {
        display: grid;
        text-align: center;
     }

     .nav_right {
        display: none;
     }

     .nav_center ul {
        gap: 6vh;
        margin-right: 5vh;
        justify-content: center;
     }

     .girl {
        width: 170px;
     }

     .com {
        width: 200px;
     }

     .sec_1 {
        justify-content: center;
        gap: 3vh;
     }
     .vd {
         display: none;
     }

     .orderVid {
        gap: 2vh;
     }

     .order_now {
        width: 5vh;
        height: 1.2vh;
        padding: 3px;
        padding-left: 1vh;
     }


     
     

     .fav_cont {
        display: grid;
        gap: 8vh;
     }

     .x2  {
        width: 200px;
     }


     .salad_boxs {
        display: grid;
        gap: 9vh;
        margin-top: 5vh;
     }

     .text_area1 {
           font-size: 8px;
     }

     .girl2 {
          width: 170px;
     }
     
     .sec_4 {
        gap: 4.5vh;
     }

     .photo_area2 {
        margin-left: 2vh;
     }

     .other_sec {
        display: none;
     }

     .categories_area {
        justify-content: center;
        margin-right: 20vh;
        gap: 15vh;
     }

     .pp {
        display: none;
     }

     .sec_5 {
        display: grid;
     }

     .explore {
        display: none;
     }

     .text_area3 {
        display: 10px;
        text-align: center;
        margin-right: 15vh;
     }

     footer {
        display: grid;
       
     }

     .sociall {
        margin-left: 20vh;
        margin-top: 2vh;
     }
     
     .soc_text {
        margin-left: 11vh;
     }
    

     .com {
        display: none;
     }
      .sec_2 {
        margin-right: 2vh;
    }

    .text_cost {
        margin-right: 1.2vh;
    }
       

}


@media ( min-width: 501px) and (max-width: 1050px) {
      
    header {
        justify-content: center;
        align-items: center;
    }

    .nav_left {
        margin-right: 7vh;
    }

    .nav_right {
        display: none;
    }

    .sec_1 {
        gap: 3vh;
    }
     
    .text_area1 {
        margin-left: 3vh;
        font-size: 13px;
    }

    .girl {
        width: 410px;
    }

    .com {
        display: none;
    }

    .sec_2 {
        margin-right: 2vh;
    }
    

    .fav_cont {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 400px ;
        justify-content: center;
        gap: 8vh;
    }

    .salad_boxs {
        display: grid;
        justify-content: center;
        gap: 8vh;
        margin-left: 3vh;
        gap: 8vh;
    }


    .sec_4 {
        gap: 4vh;
        margin-right: 1vh;
    }

    

    .costumer_text {
        display: none;
    }

    .sec_5 {
        display: grid;
    }

    .explore {
        display: none;
    }

    .pp {
        display: none;
    }
   
    .categories_area {
        justify-content: center;
        margin-right: 20vh;
        gap: 25vh;
    }


     .text_area3 {
        margin-left: 8vh;
     }

    

}


@keyframes headerAnimation {
    from {
          transform: translate(-1000px);
    }

    to {
         transform: translate(0);
    }
}

@keyframes sec_1_left {
     from {
          transform: translate(-1000px);
    }

    to {
         transform: translate(0);
    }
}


@keyframes sec_1_right {
     from {
          transform: translate(1000px);
    }

    to {
         transform: translate(0);
    }
}