header {
    text-align: center;
    margin-top: 8vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
}

.nav_center ul {
    display: flex;
    gap: 6vh;
    margin-top: 2vh;
    
}

.spn {
    color: lightgreen;
}



.nav_right {
    display: flex;
    background-color: lawngreen;
    width: 100px;
    border-radius: 20px;
    padding-left: 1vh;
    gap: 1vh;
    color: white;
    max-height: 8vh;
}

.spn1 {
    background-color: lawngreen;
    padding: 1vh;
    border-radius: 5px;
    margin-right: 0.5vh;
    color: white;
}



.nav_center ul li a:hover {
  cursor: pointer;
  color: lawngreen;
  transition: 0.7s ease;
}


.nav_right {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    color: black;
}

.rsr {
    width: 300px;
}



.form {
    display: grid;
       gap: 2vh;
       justify-content: center;
       margin-top: 8vh;
       

}

.inp {
     width: 30vh;
    height: 3vh;
    border-radius: 8px;
    padding: 1vh;
}

.txtar {
    width: 10vh;
    height: 30vh;
    min-width: 32vh;
    min-height: 30vh;
    max-width: 60vh;
    max-height: 30vh;
    border-radius: 5px;
}

.button_area {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    
}

.btn {
    width: 20vh;
    height: 6vh;
    border-radius: 12px;
    background: linear-gradient(45deg, black, gray);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

