header {
    text-align: center;
    margin-top: 8vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
}

.nav_center ul {
    display: flex;
    gap: 6vh;
    margin-top: 2vh;
    
}

.spn {
    color: lightgreen;
}



.nav_right {
    display: flex;
    background-color: lawngreen;
    width: 100px;
    border-radius: 20px;
    padding-left: 1vh;
    gap: 1vh;
    color: white;
    max-height: 8vh;
}

.spn1 {
    background-color: lawngreen;
    padding: 1vh;
    border-radius: 5px;
    margin-right: 0.5vh;
    color: white;
}



.nav_center ul li a:hover {
  cursor: pointer;
  color: lawngreen;
  transition: 0.7s ease;
}


.nav_right {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    color: black;
}

.rsr {
    width: 550px;
    border-radius: 12px;
   
}

.picture {
     animation: sec_1_left 3s; 
}
footer {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    align-items: center;
    background-color: green;
    width: 100%;
    color: white;
}


.sociall {
    display: flex;
    gap: 2vh;
    margin-right: 20vh;
}

.social {
    width: 25px;
    max-height: 25px;
    background-color: rgb(207, 234, 207);
    padding: 0.5vh;
    border-radius: 15px;
    text-align: center;
    
}

.sc1 {
    background-color: rgb(8, 71, 8);
}
footer {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    align-items: center;
    background-color: green;
    width: 100%;
    color: white;
}



.form {
    display: grid;
       gap: 2vh;
       justify-content: center;
       margin-top: 8vh;
       margin-top: -1vh;
       animation: sec_1_right 3s;
       

}

.inp {
     width: 30vh;
    height: 3vh;
    border-radius: 8px;
    padding: 1vh;
}

.txtar {
    width: 10vh;
    height: 30vh;
    min-width: 32vh;
    min-height: 30vh;
    max-width: 60vh;
    max-height: 30vh;
    border-radius: 5px;
}

.button_area {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    
}

.btn {
    width: 20vh;
    height: 6vh;
    border-radius: 12px;
    background: linear-gradient(45deg, black, gray);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    gap: 32vh;
    margin-top: 12vh;
}


@media (min-width: 200px) and (max-width: 500px) {
 
     header {
        display: grid;
        text-align: center;
     }

     .nav_right {
        display: none;
     }

     .nav_center ul {
        gap: 6vh;
        margin-right: 5vh;
        justify-content: center;
     }

     .girl {
        width: 170px;
     }

     .com {
        width: 200px;
     }

     .sec_1 {
        justify-content: center;
        gap: 3vh;
     }
     .vd {
         display: none;
     }

     .orderVid {
        gap: 2vh;
     }

     .order_now {
        width: 5vh;
        height: 1.2vh;
        padding: 3px;
        padding-left: 1vh;
     }


     
     

     .fav_cont {
        display: grid;
        gap: 8vh;
     }

     .x2  {
        width: 200px;
     }


     .salad_boxs {
        display: grid;
        gap: 9vh;
        margin-top: 5vh;
     }

     .text_area1 {
           font-size: 8px;
     }

     .girl2 {
          width: 170px;
     }
     
     .sec_4 {
        gap: 4.5vh;
     }

     .photo_area2 {
        margin-left: 2vh;
     }

     .other_sec {
        display: none;
     }

     .categories_area {
        justify-content: center;
        margin-right: 20vh;
        gap: 15vh;
     }

     .pp {
        display: none;
     }

     .sec_5 {
        display: grid;
     }

     .explore {
        display: none;
     }

     .text_area3 {
        display: 10px;
        text-align: center;
        margin-right: 15vh;
     }

     footer {
        display: grid;
       
     }

     .sociall {
        margin-left: 20vh;
        margin-top: 2vh;
     }
     
     .soc_text {
        margin-left: 11vh;
     }
    

     .com {
        display: none;
     }
      .sec_2 {
        margin-right: 2vh;
    }

    .text_cost {
        margin-right: 1.2vh;
    }

    
    main {
        display: grid;
        gap: 7vh;
    }

    .rsr {
        width: 300px;
    }

  
       

}


@media ( min-width: 501px) and (max-width: 1050px) {
      
    header {
        justify-content: center;
        align-items: center;
    }

    .nav_left {
        margin-right: 7vh;
    }

    .nav_right {
        display: none;
    }

    .sec_1 {
        gap: 3vh;
    }
     
    .text_area1 {
        margin-left: 3vh;
        font-size: 13px;
    }

    


    

}

@keyframes sec_1_left {
     from {
          transform: translate(-1000px);
    }

    to {
         transform: translate(0);
    }
}


@keyframes sec_1_right {
     from {
          transform: translate(1000px);
          
    }

    to {
         transform: translate(0);
    }
}

@media ( min-width: 501px) and (max-width: 1050px) {
      
    header {
        justify-content: center;
        align-items: center;
    }

    .rsr {
        width: 600px;
    }

    .form {
        width: 300px;
        gap: 12px;
    }
    main {
        gap: 5vh;
    }

    .btn {
        width: 200px;
        height: 50px;
        margin-top: 1vh;
    }

    .inp {
        width: 200px;
        height: 30px;
    }

    .nav_left {
        margin-right: 7vh;
    }

    .nav_right {
        display: none;
    }

    main {
        gap: 3vh;
    }

}