body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;   
}

.aaa1 {
    text-decoration: underline;
    color: blue;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
}

.nav_center ul {
    display: flex;
    gap: 6vh;
    margin-top: 2vh;
    
}

.spn {
    color: lightgreen;
}



.nav_right {
    display: flex;
    background-color: lawngreen;
    width: 100px;
    border-radius: 20px;
    padding-left: 1vh;
    gap: 1vh;
    color: white;
    max-height: 8vh;
}

.spn1 {
    background-color: lawngreen;
    padding: 1vh;
    border-radius: 5px;
    margin-right: 0.5vh;
    color: white;
}



.nav_center ul li a:hover {
  cursor: pointer;
  color: lawngreen;
  transition: 0.7s ease;
}

.food_txt {
    margin-top: 12vh;
}


.nav_right {
    cursor: pointer;
}

main {
    display: grid;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
}



.fd {
    width: 200px;
}

.foods_sec,.foods_sec2,.foods_sec3,.foods_sec4,.foods_sec5 {
    display: flex;
    align-items: center;
    margin-top: 5vh;
    gap: 25vh;
    justify-content: center;
    
}

.box {
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.x2,.x1,.x3 {
    height: 35vh;
}


.box{
    background-color: rgb(111, 247, 138);
    margin-top: 5vh;
    border-radius: 3vh;
    color: white;
    padding-bottom: 5vh;
    padding: 3vh;
}

.drr {
    width: 2vh;
    height: 25vh;
}

.xx2 {
    width: 50vh;
    margin-left: 5vh;
}

.al_box {
         background-color: rgb(111, 247, 138);
          margin-top: 5vh;
    border-radius: 3vh;
}

.dr_box {
  background-color: rgb(111, 247, 138);
  border-radius: 3vh;
   height: 47vh;
    margin-top: 9vh;
    padding-bottom:33vh;
}

.ff1 {
    height: 47vh;
    margin-top: 9vh;
    padding-bottom:35vh;
}

h1 {
    color: black;
    text-decoration: underline;
}



p {
    color: red;
    text-decoration: underline;
}

.dr {
    width: 200px;
    padding: 10vh;
    margin-top: 5vh;
    border-radius: 3vh;
    color: white;
}

h2 {
    padding-top: 5vh;
}

.x2 h2 {
    padding-top: 8vh;
}

.drinks_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    gap: 25vh;
}

.alchohol_sec {
     display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    gap: 18vh;
    margin-left: 3vh;
}

.drr {

     width: 200px;
    padding: 10vh;
    margin-top: 5vh;
    border-radius: 3vh;
    color: white;
}

.r2 {
    margin-top: 7vh;
}

.r2,.r3 {
    width: 280px;
}

.ff2,.ff3 {
    margin-top: 8vh;
}





@media (min-width: 200px) and (max-width: 500px) {
 
     header {
        display: grid;
        text-align: center;
     }

     .nav_right {
        display: none;
     }

     .nav_center ul {
        gap: 6vh;
        margin-right: 5vh;
        justify-content: center;
     }

    }

     header {
        justify-content: center;
        align-items: center;
    }

    .nav_left {
        margin-right: 7vh;
    }

    .nav_right {
        display: none;
    }

  



@media ( min-width: 501px) and (max-width: 1050px) {
      
    header {
        justify-content: center;
        align-items: center;
    }
    main {
        display: grid;
    }

    .foods_sec {
        display: grid;
        gap: 1vh;
    }

    .nav_left {
        margin-right: 7vh;
    }

    .nav_right {
        display: none;
    }

}