body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;   
}

.aaa1 {
    text-decoration: underline;
    color: blue;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
}

.nav_center ul {
    display: flex;
    gap: 6vh;
    margin-top: 2vh;
    
}

.spn {
    color: lightgreen;
}



.nav_right {
    display: flex;
    background-color: lawngreen;
    width: 100px;
    border-radius: 20px;
    padding-left: 1vh;
    gap: 1vh;
    color: white;
    max-height: 8vh;
}

.spn1 {
    background-color: lawngreen;
    padding: 1vh;
    border-radius: 5px;
    margin-right: 0.5vh;
    color: white;
}



.nav_center ul li a:hover {
  cursor: pointer;
  color: lawngreen;
  transition: 0.7s ease;
}


.nav_right {
    cursor: pointer;
}

main {
    display: grid;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
}

.more {
    text-align: center;
}

.fd {
    width: 200px;
}


@media (min-width: 200px) and (max-width: 500px) {
 
     header {
        display: grid;
        text-align: center;
     }

     .nav_right {
        display: none;
     }

     .nav_center ul {
        gap: 6vh;
        margin-right: 5vh;
        justify-content: center;
     }

    }

     header {
        justify-content: center;
        align-items: center;
    }

    .nav_left {
        margin-right: 7vh;
    }

    .nav_right {
        display: none;
    }


@media ( min-width: 501px) and (max-width: 1050px) {
      
    header {
        justify-content: center;
        align-items: center;
    }

    .nav_left {
        margin-right: 7vh;
    }

    .nav_right {
        display: none;
    }

}