body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;   
}

.n1 {
    animation: sec_1_right 3s;
}

.n2 {
    animation: sec_1_left 3s;
}

.aaa1 {
    text-decoration: underline;
    color: blue;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
}

.nav_center ul {
    display: flex;
    gap: 6vh;
    margin-top: 2vh;
    
}

.spn {
    color: lightgreen;
}



.nav_right {
    display: flex;
    background-color: lawngreen;
    width: 100px;
    border-radius: 20px;
    padding-left: 1vh;
    gap: 1vh;
    color: white;
    max-height: 8vh;
}

.spn1 {
    background-color: lawngreen;
    padding: 1vh;
    border-radius: 5px;
    margin-right: 0.5vh;
    color: white;
}



.nav_center ul li a:hover {
  cursor: pointer;
  color: lawngreen;
  transition: 0.7s ease;
}

.food_txt {
    margin-top: 12vh;
}


.nav_right {
    cursor: pointer;
}

main {
    display: grid;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
}





.menius {
    display: flex;
    gap: 45vh;
    margin-top: 10vh;
    justify-content: center;
  
}

.foods_sec {
      margin-right: 26vh;
}

.men {
    width: 200px;

    
}

.me {
    width: 400px;
        border-radius: 12px;
}




@media (min-width: 200px) and (max-width: 500px) {
 
     header {
        display: grid;
        text-align: center;
     }

     .nav_right {
        display: none;
     }

     .nav_center ul {
        gap: 6vh;
        margin-right: 5vh;
        justify-content: center;
     }

      .menius {
        display: grid;
        gap: 5vh;
        margin-left: 16vh;
        justify-content: center;
        
    }

    .me {
        width: 300px; 
    
    }

    }

     header {
        justify-content: center;
        align-items: center;
    }

    .nav_left {
        margin-right: 7vh;
    }

    .nav_right {
        display: none;
    }


    .hh1 {
        animation: textAn 3s forwards;
        width: 300px;
        margin: 0 auto;
        border-radius: 10px;
        padding: 1vh;

    }
   

  



@media ( min-width: 501px) and (max-width: 1050px) {
      
    header {
        justify-content: center;
        align-items: center;
    }
    main {
        display: grid;
    }

    .foods_sec {
        display: grid;
        gap: 1vh;
    }

    .nav_left {
        margin-right: 7vh;
    }

    .nav_right {
        display: none;
    }

}



@keyframes sec_1_left {
     from {
          transform: translate(-1000px);
    }

    to {
         transform: translate(0);
    }
}


@keyframes sec_1_right {
     from {
          transform: translate(1000px);
          
    }

    to {
         transform: translate(0);
    }
}


@keyframes textAn {
    0% {
       background-color: white;
    }

    25% {
       background-color: rgb(177, 233, 177);
    }

    50% {
        background-color: rgb(36, 97, 36);
    }
    75% {
        background-color: rgb(24, 74, 24);
    }

    100% {
         background-color: green;
         color: white;

    }
}